@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

body{
    background-color: bisque;
}
h1{
    margin-top: 1em;
    font-family: 'Macondo', cursive;
    text-align: center;
}

#hero-image{
    height: 30%;
    width: 30%;
}

#hero-banner{
    text-align: center;
}
#main-footer{
    text-align: center; 
}